footer(style="padding-top:3%")                
        div.main
        div.footer
            div.bubbles
                - for (var i = 0; i < 8; i++) //Small numbers looks nice too
                    div.bubble(style=`--size:${2+Math.random()*4}rem; --distance:${6+Math.random()*4}rem; --position:${-5+Math.random()*110}%; --time:${2+Math.random()*2}s; --delay:${-1*(2+Math.random()*2)}s;`)
            div.content
                div
                    div
                        b EXPLORE DREAM and DISCOVER
                        a(href="#") About
                        a(href="#") Help
                        
                    h5 Credits To W3 Schools And CodePen For CSS
                    p ©
                        =(new Date()).getFullYear()
 
        svg(style="position:fixed; top:100vh")
            defs
                filter#blob
                    feGaussianBlur(in="SourceGraphic" stdDeviation="10" result="blur")
                    feColorMatrix(in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="blob")
                    feComposite(in="SourceGraphic" in2="blob" operator="atop")